@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@600&family=Lato:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ff-default: 'Lato', sans-serif;
    --ff-heading: 'Crimson Pro', serif;
    --bg-card: hsla(257, 72%, 89%, 1);
    --bg-body: rgb(187, 177, 213);

    --fc-primary: hsla(258, 45%, 19%, 1);

    font-size: 62.5%;
}

body {
    height: 100vh;
    font-family: var(--ff-default);
    font-size: 1.6rem;
    background-color: var(--bg-body);
    color: var(--fc-primary);

    display: grid;
    place-items: center;
}

main {
    background-color: var(--bg-card);

    width: 87.5rem;
    height: 50rem;
    border-radius: 1rem;

    display: flex;
    align-items: center;
    gap: 4.3rem;
}

img {
    width: 44.9rem;
    height: 22.3rem;
}

.hide {
    display: none;
}

.image {
    position: relative;
}

.image #image-3d,
.image #close {
    position: absolute;
    z-index: 1;
    right: 5rem;
    top: .8rem;
    width: 3.3rem;
    height: 2.3rem;
    cursor: pointer;
    transition: transform .3s;
}

.image #image-3d:hover,
.image #close:hover {
    transform: scale(1.2);
}

.product-info {
    width: 40rem;
}

.product-info span {
    font-size: 1.3rem;
    font-weight: 300;
}

.product-info h1 {
    font-family: var(--ff-heading);
    font-size: 4rem;
    font-weight: 600;
    margin-top: 1.2rem;
}

.product-info h2 {
    margin-top: 1.2rem;
    font-weight: 400;
}

button {
    background: transparent;
    border: .5px solid var(--fc-primary);
    border-radius: 9999px;

    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;

    margin-top: 2rem;
    padding: .8rem 1.6rem;

    cursor: pointer;

    transition: transform .5s;
}

button:hover {
    background: var(--fc-primary);
    border: .5px solid #FFF;
    color: #FFF;

    transform: scale(1.1);
}